.venv/
.DS_Store
antic_4_demo/output
*/*/Thumbs.db
bigscreen_anim/assets/Thumbs.db
mpt_samples_worklfow/pas/output
mpt_samples_worklfow/pas/b.sh
mpt_samples_worklfow/pas/d.atr
mpt_samples_worklfow/pas/mkatr
mpt_samples_worklfow/pas/mptb.txt
mpt_samples_worklfow/pas/digimsx.atr
