fnt0	rcdata scene_g2f_2.f00
fnt1	rcdata scene_g2f_2.f01
fnt2	rcdata scene_g2f_2.f02
fnt3	rcdata scene_g2f_2.f03
fnt4	rcdata scene_g2f_2.f04
fnt5	rcdata scene_g2f_2.f05
fnt6	rcdata scene_g2f_2.f06
fnt7	rcdata scene_g2f_2.f07
fnt8	rcdata scene_g2f_2.f08
fnt9	rcdata scene_g2f_2.f09
fnt10	rcdata scene_g2f_2.f10
fnt11	rcdata scene_g2f_2.f11
fnt12	rcdata scene_g2f_2.f12
fnt13	rcdata scene_g2f_2.f13
fnt14	rcdata scene_g2f_2.f14
fnt15	rcdata scene_g2f_2.f15
fnt16	rcdata scene_g2f_2.f16
fnt17	rcdata scene_g2f_2.f17
fnt18	rcdata scene_g2f_2.f18
fnt19	rcdata scene_g2f_2.f19
fnt20	rcdata scene_g2f_2.f20
fnt21	rcdata scene_g2f_2.f21
fnt22	rcdata scene_g2f_2.f22
fnt23	rcdata scene_g2f_2.f23
fnt24	rcdata scene_g2f_2.f24
fnt25	rcdata scene_g2f_2.f25
scr	rcdata scene_g2f_2.scr
